*{
    font-family: 'Roboto', sans-serif;
    text-overflow: hidden;
}
html{
    box-sizing: border-box;
    overflow-x: hidden;

}
body{
    margin: 0;
    background-color: white;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid black;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 10px;
    background-color: white;
}
#logo{
    margin-top: 5px;
}
header h3{
    font-weight: normal;
}
#page{
    position: relative;
    left: -50px
}
#page:hover{
    cursor: pointer;
}
i:hover, #logout:hover{
    color: green;
}
#logout{
    border: 0;
    background-color: transparent;
    font-weight: bold;
}
#right{
   display: flex;
   gap: 20px;
}
#logo{
    width: 20%;
    float: left;
    margin-right: 5px;
}




#sidebar{
    margin-top: 0.5px;
    float: left;
    border: 2px solid black;
    height: 89%;
    position: fixed;
    top: 80px;
    left: 0;
    background-color: white;
}
#sidebar-top button{
    text-align: left;
    font-size: large;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: none;
    border-bottom: 2px solid black;
    padding: 10px;
    
    width: 100%;

    background-color: white;
}
#sidebar-bottom button{
    text-align: left;
    font-size: large;

    border: none;
    border-top: 2px solid black;
    padding: 10px;

    width: 100%;

    background-color: white;

    position: absolute;
    bottom: 0;
}
#sidebar button:hover{
    color: green;
}
#sidebar button:active{
    background-color: ivory;
}
@media(max-width: 1000px){
    #sidebar{
        display: none;
    }
}


#student-info , #grades{
    width: 1000px;
    margin: 50px auto;
    border: 2px solid black;
    height: 40%;
}
#student-info{
    margin-top: 100px !important;
}   
#dpandinfo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#dp{
    width: 20%;
    margin-left: 3%;
    margin-bottom: 3%;
}
#student-info p, #grades p{
    margin-top: 0px;
    border-bottom: 1px solid black;

}
#info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin:auto 10px;
}
#form-pair input{
    border: none;
}
#student-number{
    border: 1px solid black !important;
    border-radius: 20px;
}
#name, #gender, #latest-enrollment{
    pointer-events: none;
}

#idfk{
    text-align: center;
    font-size: 50px;
}


#payor-info{
    width: 1000px;
    margin: auto;
    margin-top: 100px;
    border-bottom: 5px solid black;
    height: 40%;
}

#forms{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px
}

#tuition-fees{
    width: 1000px;
    margin: 20px auto;
    height: 40%;
}
table{
    width: 1000px;
}
table, table th, table td{
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 12px;
}

#payment{
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid black;
    padding-bottom: 20px;
}
#total{
    margin-top: 20px;
    text-align: center;
}
#payment-method, #payment-channel{
    display: block;
    margin: auto;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 20px;
    width: 200px;
    background-color: white;
}
#payment-method-channel{
    display: flex;
    flex-direction: column;
}
#pay-button{
    border:2px solid black;
    font-weight: bold;
    font-size: large;
    border-radius: 40px;
    padding: 12px;
    background-color: white;
    position: relative;
    top: 10px;
}
#pay-button:hover{
    color: green;
}
#pay-button:active{
    background-color: ivory;
}
#dropdown-and-button{
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 10px
}

#online-payment-history{
    width: 1000px;
    margin: auto;
    padding-bottom: 20px;
}