#student-info , #grades{
    width: 70%;
    margin: 5% 20%;
    box-shadow: 0 0 5px -1px;
    height: 50%;
    background-color: white;
}
#student-info{
    margin-top: 100px !important;
}   
#student-info p, #grades p{
    padding: 10px;
}
#dpandinfo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#dp{
    width: 20%;
    margin-left: 3%;
    margin-bottom: 3%;
}
#student-info p, #grades p{
    margin-top: 0px;
    box-shadow: 0 2px 5px -4px;

}
#info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin:auto 10px;
}
#form-pair input{
    border: none;
}
#student-number{
    border: 1px solid #40513b !important;
    border-radius: 20px;
    padding:4px

}
#name, #gender, #latest-enrollment, #form-pair label{
    pointer-events: none;
    padding:4px
}

#idfk{
    text-align: center;
    font-size: 50px;
}